.group-info-img {
	max-width: 170px;
	max-height: 180px;
}

.bold {
	font-weight: bold;
}

#message-form {
	width: 100%;
}

#form-input-wrapper {
	width: 100%;
}

#message-form-group {
	width: 100%;
}

#message {
	width: 98%;
}
